@media(max-width:750px){
    #nav-bar span a{
        font-size: 15px;
    }
    #nav-bar span{
        width: 100px;
    }
    .nav-item{
        position: absolute;
        background-color: black;
        z-index: 999;
        height:100vh;
        width:200px;
        top:0;
        right:0px;
        display: block;
        transition: 0.5s;
        text-align: left;
    }
    .nav-item li{
        display: block;
    }
    .nav-item  li a{
        font-size: 10px;
    }
    nav .fa-solid{
        display: block;
        color:yellow;
        margin: 30px;
        font-size: 25px;
        cursor: pointer;
        z-index: 999;
    }
}